.cont {
    position: absolute;
    top: 30%; left: 0; right: 0; bottom: 0;
    left: 35%;
    width: 30%;
    height: 50%;
    background-color: #ffcb05;;
  }
.cont img{
    height: 250px;
    width: 200px;
}

.cont h1{
    -webkit-text-fill-color: #3c5aa6;
    font-weight: bold;
    font-size: xx-large;
    background-color: #ffcb05;
}

.cont li{
    -webkit-text-fill-color: white;
    font-weight: bold;
    font-size: large;
    background-color: #3c5aa6;
}